<html>
	<head>
		<title> Niniadventure blog </title>
	</head>
	<body>
		<h1>Gros titre</h1>
		<h2>Sous-titre</h2>
		<h6>Petit titre</h6>
		<p><strong>Hi</strong> there!!!</p>
		<br /> 
		<br />
		Follow us on : 
		<a href="https://djangogirls.org">link</a> 
		<br />
		<p>It <em>works</em> !</p>
		<ul><li>premier item</li><li>second item</li></ul>


<div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mon second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>


	</body>
</html>

